
@font-face {
    font-family: "LeagueGothic";
      src: url("../font/Leaguegothic/LeagueGothicRegular.eot") format("eot"),
  url("../font/Leaguegothic/LeagueGothicRegular.woff") format("woff"),
     url("../font/Leaguegothic/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/Leaguegothic/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LeagueGothic";
      src: url("../font/Leaguegothic/LeagueGothicRegular.eot") format("eot"),
  url("../font/Leaguegothic/LeagueGothicRegular.woff") format("woff"),
     url("../font/Leaguegothic/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/Leaguegothic/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

