.clearfix:before
{
  	content: '';
  	display: table;
}
.clearfix:after
{
  	content: '';
  	display: table;
  	clear: both;
}

.section_one{
width: 100%;
min-width: 320px;
height: 846px;
background: url(../image/header_bg.jpg) no-repeat;
background-size: cover;	

}
.section_two{
width: 100%;
height: 341px;
-moz-box-sizing: border-box; 
box-sizing: border-box;
background: linear-gradient(to top, #322539 0%,#745083 100%);
border-top: 1px #33253a solid;
border-bottom: 2px #0d151b solid;
}

.section_three{
	width: 100%;
	height: 607px;
box-sizing: content-box;
	background: #f9f9f9;
}
.section_four{
	width: 100%;
	height: 398px;
box-sizing: content-box;

	background: #ececec;
}
.section_five{
	width: 100%;
height: 114px;
box-sizing: content-box;
background: url(../image/footer_bg.jpg) no-repeat;
background-size: cover;	
}

header{
	box-sizing: content-box;
	width: 100%;
	max-width: 960px;
	margin:0 auto;
	padding-top: 67px;

}

.logo{
display: inline-block;
float: left;
box-sizing: content-box;
text-decoration: none;
	font-size: 48px;
	text-transform: uppercase;
	font-family: "LeagueGothic";
	font-weight: normal;
    font-style: normal;
	color: white;
	letter-spacing: -1.2px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
#ER{
	display:inline-block;
    color: #583e63;
    margin-left: -5px;
}



.menu{
	padding-top: 6px;
	display: inline-block;
	float: right;
	font-family: "LeagueGothic";
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
    font-style: normal;
    box-sizing: content-box;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4);

}
 .menu__item:first-child{
 margin-left: 0px;
}
.menu__item{

	display: inline-block;
	float: left;	
	box-sizing: content-box;
	margin-left: 50px
}

.menu__link{
	color: white;
display: inline-block;
text-decoration: none;
box-sizing: content-box;
}

.menu__link:hover{
	border-bottom: 2px solid #edbfff;
}
.slider_bg{

height: 400px;
width: 100%;
background: rgba(0, 0, 0, .20);
margin-top: 163px;

}
.left_arrow{
display:block;
float: left;
margin-top: 19%;
margin-right: 1.2%;
}
.slider{
	width: 100%;
max-width: 960px;

margin: 0 auto;
-moz-box-sizing: border-box; 
box-sizing: border-box;

}
.right_arrow{
display: inline-block;
float: right;
margin-top: 19%;

}
.spoiler_slider{
	display: block;
	float: left;
	width: 55%;
}

.slider__header__1{
width: 100%;
font-size: 60px;
font-family: "LeagueGothic";
color: #fefefe;
letter-spacing: -0.9px;
margin-top: 79px;
-moz-box-sizing: border-box; 
box-sizing: border-box;
}
.slider__header__2{
width: 100%;
font-size: 32px;
color: #edbfff;
font-family: "LeagueGothic";
letter-spacing:-0.3px;
text-transform: uppercase;
-moz-box-sizing: border-box; 
box-sizing: border-box;

}
.slider__info{

width: 100%;
font-family: "open_sanslight";
font-size: 18px;
letter-spacing: -0.17px;
color: #fff;
line-height: 24px;
 margin-top: 5px;
}
.iphone{
	width: 100%;
	max-width: 274px;
box-sizing: content-box;
display:inline-block;
float: left;
    margin-left: 5.5%;
margin-top: -1.8%;

}
.nav_slide{
margin-top: 7.8%;
margin-left: 74%;
}

main {
	width: 100%;
max-width:960px;
margin: 0 auto;
    margin-top: 77px;
;
}

.info__company{
	height: 200px;
	width: 28.647%;
	float: left;
	margin-left: 6.38%;
	-moz-box-sizing: border-box; 
box-sizing: border-box;
}

.info__company--bloc__1 {
margin-left: 1.3%;
	}

.sprites{
	float: left;
	width: 26px;
	height: 26px;
background: url(../image/sprites.png);

}

.blur_header_info	{
	display: inline-block;
	font-family: "LeagueGothic";
	font-weight: bold;
	letter-spacing: -0.4px;
	font-size: 30px;
	color: white;
    margin-left: 25px;
}
.blur_main_info {
	display: inline-block;
	font-size: 16px;
	font-family: "open_sanslight";
	margin-top: 5px;
	margin-left: 50px;
	line-height: 24px;
	color: white;
	
}

.read__more{
	display: inline-block;
	font-size: 18px;
	font-family: "LeagueGothic";
	text-decoration: none;
	color: white;
	margin-left: 210px;
 margin-top: 19px;
    letter-spacing: -0.6px;

}
.read__more:hover
	{
		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
		}

.sprites--idea{
		
	width: 28px;
    height: 28px;
    background-position: -35px 0;
    margin-top: 6px;
		}
.read__more--idea
{
	margin-left: 217px;

}

.sprites--note{

  	width: 28px;
    height: 28px;
    background-position: 28px 0;
    margin-top: 6px;
}
.read__more--note{
		margin-left: 217px;
}
article{

	width: 100%;
max-width:960px;
margin: 0 auto;
/*background: #d9d9da;*/
background: #f9f9f9;

}
.testimonical{

-moz-box-sizing: border-box; 
box-sizing: border-box;
display: inline-block;
float: left;
margin-left: 23px;
/*margin-left: 2.395%;*/
margin-top: 100px;
width: 44.48%;
height: 290px;	
background: url(../image/testimonials_bc.png) no-repeat ;
}
.author{
display: inline-block;
float: left;
margin-top: 19px;
margin-left: -24px;

}
.testimonical__header
{
display: inline-block;
float: left;
	font-family: "LeagueGothic";
	font-size:30px;
	color: #454545;
	text-transform: uppercase;
	margin-left: 14px;
    margin-top: 32px;
    letter-spacing: -0.4px;
}
.testimonical__header--pink{
color: #edbfff;
text-transform: uppercase;
margin-left: 7px;
    margin-top: 31px;
    letter-spacing: -0.2px;
}
.testimonical__main
{
	display: inline-block;
	font-size: 16px;
	font-family: "open_sanslight";
 margin: 2px 35px 0px 40px;
    line-height: 24px;
    color: #454545;
}
.blog{
	box-sizing: content-box;
	display: block;
	float: right;
	width: 46.875%;
	height: 265px;
    margin-top: 131px;
}
.header__blog{
	font-size: 30px;
	font-family: "LeagueGothic";
	text-transform:uppercase;
	color: #454545;
	  letter-spacing: -0.2px;

}
.testimonikal_nav{
	clear: both;
	margin-left: 20.2%;
    margin-top: 0.6%;
}
.sprites__blog{
	box-sizing: content-box;
    float: left;
	width: 49px;
    height: 49px;
background: url(../image/sprites_post.png) no-repeat;
    margin-top: 15px;

}
.post__header {
	display: inline-block;
	float: left;
	font-family: 'Open Sans', "open_sanslight", sans-serif;
	font-weight: 800;
	font-size: 16px;
	margin-left: 17px;
   margin-top: 19px;

}
.post__info{
	display: inline-block;
	font-family: 'Open Sans', "open_sanslight", sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-left: 17px;
    margin-top: 8px;
  letter-spacing: -0.1px;
}
.sprites__blog--1{
	clear: both;
	box-sizing: content-box;
	width: 49px;
    height: 51px;
    background: url(../image/sprites_post.png) no-repeat;
    background-position: 0px -48px;

}
.post__header--1{
	margin-top: 21px;
	letter-spacing: -0.1px;
}
.post__info--1{
	margin-top: 9px;
    letter-spacing: -0.05px;
}
.sprites__blog--2{
background-position: 0 -97px;
}

.footer__logo {
	width: 100%;
	height: 66px;
	max-width: 960px;
display: inline-block;
margin: 0 auto; 
text-align: center;
 margin-top: 12.5%;  
}

.footer__logo a {
display: inline-block;
box-sizing: content-box;
text-align: center;
}

.brend__2{
 margin-left: 8%;
}
.brend__3{
 margin-left: 8%;
}

.brend__4{
 margin-left:  8.5%;
}
.brend__5{
    margin-left: 8.6%;
}
.brend__6{
 margin-left: 10.1%;
}

section{
	box-sizing: content-box;
width: 100%;
max-width:960px;
margin: 0 auto;
padding-top: 10%;
}
.company_info{
display: block;
float: left;
width: 28.6458333%;
box-sizing: content-box;
}

.logo__footer{
	display: inline-block;
box-sizing: content-box;
text-decoration: none;
font-size: 48px;
text-transform: uppercase;
font-family: "LeagueGothic";
color: #454545;
letter-spacing: -0.7px;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.ER__footer{
		display:inline-block;
    color: #b9b9b9;
    margin-left: -8px;
}

.Copyright{
	font-family: Georgia;
	font-size: 16px;
	color: #c5c5c5;
	font-style: italic;
	margin-top: 11px;
	letter-spacing: -0.2px
}
.company_wrap{
font-family: 'Open Sans', "open_sanslight";
font-weight: 400;
font-size: 16px;
color: #787878;
line-height: 24px;
    margin-top: 13px;
    letter-spacing: -0.6px;
}

.comments{
display: block;
float: left;
width: 28.6458333%;
margin-left: 6.6%;
box-sizing: content-box;
}
.comments_header{
	display: inline-block;
	font-family: "LeagueGothic";
	font-size:30px;
	color: #454545;
    letter-spacing: -0.3px;
    margin-top: 0.7%;
}

.comments_wrap{
	font-family: 'Open Sans', "open_sanslight";
font-weight: 400;
font-size: 16px;
color: #787878;
line-height: 24px;
    margin-top: 7px;
    letter-spacing: -0.6px;
}

.cotegories{
display: block;
float: left;
width: 28.6458333%;
margin-left: 6.6%;
box-sizing: content-box;
}

.cotegories_header{
	display: inline-block;
	font-family: "LeagueGothic";
	font-size:30px;
	color: #454545;
    letter-spacing: -0.1px;
    margin-top: 0.7%;
}

.cotegories_wrap{
	font-family: 'Open Sans', "open_sanslight";
font-weight: 400;
font-size: 16px;
color: #787878;
line-height: 24px;
    margin-top: 7px;
    letter-spacing: -0.6px;
}

footer{
box-sizing: content-box;
width: 100%;
max-width:960px;
margin: 0 auto;
}
 .menu--footer{
	padding-top: 47px;
	font-size: 20px;
	text-transform: uppercase;
    margin-left: 0;
    float: left;


 }

 .menu__item--footer{
 	    margin-left: 43px;
 }
 .menu__item--footer--1{
margin-left: 0
 }
.menu__link--footer:hover{
	border-bottom: none;

}

footer p {
display: inline-block;
float: right;
font-family: 'Open Sans', "open_sanslight";
font-size:12px;
color: white;
margin-top: 5.6%;
}
.famaly_light{
	font-weight: 300;
}
.famaly_extrabold{
	font-weight:800 ;
}

@media screen and (max-width: 959px)
{
.section_one{

height: 798px;
}
.logo{
    letter-spacing: -0.6px;
}


.menu {

	clear: both;
	padding-top: 28px;
	display: block;
	float: left;
    box-sizing: content-box;
 margin-left: 0;
}
 .menu__item:first-child{
 margin-left: 0;
 }
.slider_bg{
margin-top: 75px;
}
.left_arrow {
    margin-top: 24%;
    margin-right: 0.5%;
}
.spoiler_slider {
        width: 47%;

}
.slider__header__1 {
    font-size: 48px;
    margin-top: 98px;
}
.slider__header__2 {
    font-size: 24px;
    margin-top: 10px;
}
 .slider__info {
    font-size: 16px;
    line-height: 25px;
    margin-top: 9px;
}
.iphone {
	width: 40%;
    margin-top: -2.8%;
}
.right_arrow {
    margin-top: 24.2%;
}
.nav_slide {
    margin-top: 3.3%;
    margin-left: 68.2%;

}
.blur_header_info {
    letter-spacing: -0.4px;
    font-size: 24px;
       margin-left: 29px;
   }
.blur_main_info {
    margin-top: 0px;
    margin-left: 54px;
    line-height: 23px;
    height: 135px;
    overflow: hidden;
}
.read__more {
  float: right;
  margin-left: 0;
  margin-right: 21px;
    margin-top: 17px;
    letter-spacing: -0.6px;
}

.info__company--bloc__2{
	margin-left: 32px;
}
.sprites--idea{
    margin-top: 0px;
}
.info__company--bloc__3{
margin-left: 40px;

}
.sprites--note {

    margin-top: 0;
}
.testimonical {
    margin-left: 23px;
    margin-top: 100px;
    width: 41.0156%;
}
.testimonical__header {
  
    font-size: 24px;
  margin-left: 17px;
    margin-top: 32px;
    letter-spacing: -0.2px;
}
.testimonical__header--pink {
      clear: both;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: -13px;
    letter-spacing: -0.2px;

}
.testimonical__main {
    display: inline-block;
    margin: 9px 35px 0px 40px;
    line-height: 24px;
    height: 135px;
    overflow: hidden;
}
.blog {
margin-top: 132px;
margin-right: 11px;
}
.post__info {
    display: inline-block;
       width: 255px;
    height: 18px;
    overflow: hidden;
}
.post__header--2 {
	margin-top: 22px;
}
.testimonikal_nav{
    margin-left: 139px;
    margin-top: 8px;
}
/*.footer__logo {

display: inline-block;
margin: 0 auto; 
text-align: center;
 margin-top: 12.5%;
}*/
.brend__2{
 margin-left: 27px;
}
.brend__3{
margin-left: 53px;
}

.brend__4{
margin-left: 66px;
}
.brend__5{
    margin-left: 61px;
}
.brend__6{
 margin-left: 55px;
}


section{

    padding-top: 100px;
}
.company_info{
    height: 210px;
    overflow: hidden;
}


.logo__footer{
font-size: 32px;
letter-spacing: 0 ;
   
}
.ER__footer {

    margin-left: -5px;
}
.comments {
    margin-left: 46px;
      height: 210px;
    overflow: hidden;
}
.company_wrap{
margin-top: 10px;
}
.comments_header {

    font-size: 24px;
  
}
.comments_wrap {
  margin-top: 12px;
}
.cotegories{
 
 margin-left: 45px;
   height: 210px;
    overflow: hidden;
}
.cotegories_header {
  padding-top: 3px;
    font-size: 24px;
   
}
.section_five{
height: 200px;
}
.menu--footer {
    padding-top: 50px;
}

footer p {
    margin-top: 105px;
    margin-right: 39px;
}
}
@media screen and (max-width: 767px)
{
.section_one{
	height: 547px;
}

.menu--480px {
	width: 37px;
       position: absolute;
    left: 46.834%;
    right: 46.834%;
    margin: 0 auto;
    padding-top: 0px;
    display: block;
  	float: none;
  	box-sizing: content-box;
}
.menu--480px:hover {
	position: absolute;
	  left: 25%;
    right: 25%;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(72, 59, 78, 0.8);
    box-sizing: content-box;

}
.menu__item--480px:first-child {
	display: block;
    margin-left: 0px;
    	box-sizing: content-box;
    	height: 45px;
}
.menu__item--480px{
display: none;
height: 45px;
box-sizing:border-box;
text-align: center;
line-height: 45px;;
font-size: 24px;
margin-left: 0px;
box-sizing: content-box;
}

.menu__link--480px{
display: block;
box-sizing: content-box;

}
.menu__link--480px:hover {
    background-color: rgba(47, 38, 52, 0.8);
}
.menu__link--480px:hover {
    border-bottom: 2px	solid #edbfff;
}
.menu__link--1 {
    border-radius: 10px 10px 0 0;
}


.menu__link--480px {
	height: 45px;
    display: block;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
}
.menu--480px:hover .menu__item--480px {
    display: block;
    width: 100%
}
.menu__link--6 {
    border-radius: 0px 0px 10px 10px;
}
.logo{	
margin-bottom: 16px;    
  display: inline-block;
    float: none;
        margin-left: 37%;
    margin-right: 37%;
}
header {
	
    margin-bottom: 73px;

}
.slider_bg{

height: 245px;
clear: both;
}
.left_arrow {
    margin-top: 22%;
}
.slider__info{
	display: none;
}
.slider__header__1 {
    font-size: 36px;
    margin-top: 92px;
    margin-left: 14PX;
}
.slider__header__2 {
    font-size: 18px;
    margin-top: 4px;
    margin-left: 15px;
}
.iphone {
	width: 100%;
	max-width: 192px;
  margin-left: 1.5%;
}
.right_arrow {
    margin-top: 21.2%;
}
.nav_slide {
 margin-top: 0%; 
    margin-left: 42.2%;
}

.section_two{
height: 600px;

}
main {
   
    margin-top: 0px;
}

.info__company {

	margin-top: 10px;
	height: 132px;
    width: 88%;
    float: none;
    margin-left: 6.38%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.info__company--bloc__1{
margin-top: 78px;

}
.blur_main_info{
	height: 70px;
}
.read__more {
    float: right;
    margin-right: 0px;

}
.info__company--bloc__2 
{
    margin-top: 23px;
}
.info__company--bloc__3 
{
    margin-top: 30px;

}

.section_three{
height: 1020px;

}
article{
	position: relative;
}
.testimonical {
 margin-left: 7.8%;
    margin-top: 70px;
    width: 100%;
    max-width: 425px;
    box-sizing: content-box;
}


.testimonical__header {
    font-size: 30px;
    margin-left: 14px;
    margin-top: 29px;
}
.testimonical__header--pink {
    clear: none;
    
float: none;
    margin-left: 5px;
    
   
}

.testimonical__main {
    display: block;
    width: 100%;
    max-width: 385px;
       margin: 11px 0 0 38px;
    line-height: 24px;
    height: 168px;
    overflow: hidden;

}



.blog {
    margin-top: 72px;
    margin-right: 0;
    width: 100%;
    max-width: 340px;
    float: left;
    margin-left: 18%;
}


.testimonikal_nav {
 
    position: absolute;
     left: 14%;
    top: 357px;
}
.sprites__blog {
    margin-right: 17px;
}
.post__header {
    margin-left: 0px;
    
}
.post__info {
 
    margin-left: 0px;
}
.footer__logo {
   margin-left: 18%;
    width: 100%;
 height: auto; 
    max-width: 320px;
       margin-top: 126px;
}
.footer__logo a:first-child{
margin-left: -3px;
}
.brend__2 {
    margin-left: 25px;
}
.brend__3 {
    margin-left: 46px;
}
.brend__4 {
    margin-left: -41px;
        margin-top: 25px;
}
.brend__5 {
    margin-left: 66px;
}

.brend__6 {
    margin-left: 33px;
}

.section_four{
height: 668px;

}
section {
		max-width: 440px;
	width: 100%;
	margin:0 auto;
    padding-top: 75px;
}

.company_info {
      height: 140px;
    width: 100%;
    box-sizing: content-box;

   
}
.comments {
    height: 135px;
    margin-top: 45px;
    margin-left: 0px;
    width: 100%;
    box-sizing: content-box;
}
.cotegories {
	margin-top: 20px;
    height: 135px;
	    margin-top: 50px;
    margin-left: 0px;
    width: 100%;
    box-sizing: content-box;
}

.section_five{
height: 200px;

}
.menu--footer {
margin-left: 20px;
    padding-top: 45px;
}
.menu__item--footer {
    margin-left: 25px;
}
footer p {
	display: block;
	float: none;
	width: 140px;
  	margin:  0 auto;
  	margin-top: 102px;
}
.company_wrap {
    
    width: 100%;
}
.comments_wrap {

    width: 100%;
}

.cotegories_wrap {
   
    width: 100%;
}
footer {
  
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

}
@media screen and (max-width: 479px)
{

.section_one{ 
	height: 518px;}


.logo {
 
    margin-left: 25%;
    margin-right: 25%;
}
.iphone{
	display: none;
}
.left_arrow {
    margin-top: 33%;
}
.right_arrow {
    margin-top: 33.2%;
}
.spoiler_slider {
    width: 80%;
box-sizing: content-box;
}
.slider__header__1 {
 width: 180px;
 padding-left: 26px;
box-sizing: content-box;


}
.slider__header__2 {
    width: 90%;
    margin-left: 16px;
}
.nav_slide {
    margin-top: 23%;
    margin-left: 37.2%;
    }

    .info__company--bloc__1 {
    margin-top: 68px;
   
}
.info__company{
      margin-left: 7.38%;
}
.info__company--bloc__3 {
    margin-top: 43px;
}
.read__more {
    margin-right: 20px;
}
.testimonical {
    max-width: 295px;
}

.testimonical__header--pink {
    clear: both;
    display: block;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 0;
    letter-spacing: -0.2px;
}
 .testimonical__main {
    display: block;
    width: 75%;
    height: 147px;
}
.sprites__blog {
    margin-right: 5px;
}
.blog {
 margin-left: 2%;
 max-width: 313px;
}

.footer__logo {
    margin-left: 0;
   width: 250px;
    height: 300px;
    margin-top: 126px;
    text-align: justify;
        margin: 0 auto;
}
.footer__logo a:first-child {
    margin-left: 45px;
}

 .brend__3{
    margin-left: 45px;
}
.brend__4 {
 margin-left: 0px;
    margin-right: 10px;
}
.brend__5 {
    margin-left: 45px;
}

.brend__6 {
    margin-left: 15px;
    margin-top: 25px;
}
.section_four {
    display: none;
}
.menu--footer{
    display: none;
}

}


