body{
	background-color: black;
}
header{
	height: 202px;
	width: 883px;
}
.palitra{
	height: 960px;
	width: 883px;
	margin: 0 auto;
	background: url(../image/fon.jpg) no-repeat;
}
.logo{
	
	float:left;
	height: 147px;
	width: 266px;
	margin: 53px 0px 0px 70px
}
.contacts{
	

	float:left;
	height: 147px;
	width: 152px;
	margin: 53px 0px 0px 387px;
}

.Cont{
	padding-top: 95px;
	font-size: 10px;
	font-family: Tahoma;
	font-weight: 600;
	color: #e6e6e6;
}
.phone{
	padding-top: 10px;
	font-size: 10px;
	font-family: Tahoma;
	font-weight: normal;
	color: #e6e6e6;
}
.mail{
	font-size: 10px;
	font-family: Tahoma;
	font-weight: normal;
	color: #e6e6e6;
}
section{
	height: 465px;
	width: 883px;
}
.india{
	float: left;
	width: 267px;
	height: 205px;
	margin-left: 35px;
}
.test-india{

	font: 16px Tahoma;
	color: #e6e6e6;
	font-weight: bolder;
	margin-left: 110px
 }
.ramka{
	border: 3px #c2c2c2 outset;
}
.nepal{
	float: left;
	width: 267px;
	height: 205px;
	margin-left: 10px;
}
.test-nepal{
	font: 16px Tahoma;
	color: #e6e6e6;
	font-weight: bolder;
	margin-left: 110px
}
.tibet{
	float: left;
	width: 267px;
	height: 205px;
	margin-left: 10px;
}
.test-tibet{
	font: 16px Tahoma;
	color: #e6e6e6;
	font-weight: bolder;
	margin-left: 110px
}
.bhutan{
	float: left;
	width: 267px;
	height: 205px;
	margin-left: 35px;
	margin-top: 50px;
}
.test-bhutan{
	font: 16px Tahoma;
	color: #e6e6e6;
	font-weight: bolder;
	margin-left: 110px
}
.sri-lanka{
	float: left;
	width: 267px;
	height: 205px;
	margin-left: 10px;
	margin-top: 50px;
}
.test-sri-lanka{
	font: 16px Tahoma;
	color: #e6e6e6;
	font-weight: bolder;
	margin-left: 110px
}
.maldives{
	float: left;
	width: 267px;
	height: 205px;
	margin-left: 10px;
	margin-top: 50px;
}
.test-maldives{
	font: 16px Tahoma;
	color: #e6e6e6;
	font-weight: bolder;
	margin-left: 110px;
}
footer{
	margin-top: 235px;
	text-align: center;
	color: white;
	font: 10px Tahoma;
	font-weight: 600;
}