.header-wrap {
	height: 100vh;
	min-height: 600px;
	background-image: url(..//image/about_agency_bg.jpg) ;
	background-size: cover;
	display: -webkit-box;
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
-webkit-box-pack: justify;
        justify-content: space-between;
-ms-align-items: center;
-webkit-box-align: center;
        align-items: center;
}
.header-wrap header{
	width: 100%;
	height: 10vh;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
	border-bottom: 1px solid #7a7a7a;
overflow: hidden;
}
.logo	{
	width: 70px;
	height: 70px;
	background: #11749e;
	box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
	font-size: 25px;
	color: #fff;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	        justify-content: center;
  	font-size: 38.349px;
  	font-family: "Open Sans";
  	font-weight: bold;
  	text-transform: uppercase;


}
nav{

	width: 60%;
	height: 100%;
	display: -webkit-box;
	display: flex;
}
nav ul {
	width: 100%;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	-webkit-box-align: center;
	        align-items: center;

		}
nav ul li{

	height: 100%;

		}
.menu-link{
	color: #fff;
	text-decoration: none;
 	font-size: 20px;
 	font-family: "Open Sans";
 	height: 95%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;


}
.menu-link:hover {
	border-bottom: 6px solid rgba(17, 116, 158, 0.6);
		color:#fff;

}
.social-links{
	width: 10%;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;

}
.social-links a i {
	color: #fff;
  	font-size: 20px;
  	text-transform: uppercase;
}

.header-main-text h1{

  font-size: 74px;
  font-family: "Open Sans";
  color: rgb( 245, 245, 245 );
  font-weight: bold;
  text-transform: uppercase;


}
.header-main-text h2{
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans";
  color: rgb( 17, 116, 158 );
  text-transform: uppercase;
  line-height: 2.065;
  text-align: justify;
  -moz-text-align-last: justify;
       text-align-last: justify;
  letter-spacing: 7px;
 }
 .scrol {
 	display: -webkit-box;
 	display: flex;
 	-moz-flex-direction: column;
 	-o-flex-direction: column;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	        flex-direction: column;
 	-webkit-box-pack: center;
 	        justify-content: center;
 	-ms-align-items: center;
 	-webkit-box-align: center;
 	        align-items: center;
 }
.scrol p {
  font-size: 13px;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  line-height: 1.692;
  text-align: center;
  }
.arrow-down{
	width: 60px;
	height: 60px;
	border: 1px solid white;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	display: -webkit-box;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	        justify-content: center;
	margin-bottom: 2rem;
}
.arrow-down a{
	text-decoration: none;
	color: #fff;
}
.fas {
	font-size: 30px;
}

.about_agency-wrap{
	width: 100%;
	height: 90vh;
	background: #11749e;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	justify-content: space-around;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
}

.heading{
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;

}
.heading h1 {
  font-size: 30px;
  font-family: "Open Sans";
  color: rgba( 255, 255, 255, 0.18 );
  font-weight: bold;
  -moz-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  -webkit-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  -ms-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  margin-top: 3rem;
}
.heading h2{
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  -webkit-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  -ms-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
margin-top: -30px;
}

.company-feature{
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
}
.item-bloc{
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
	margin: 0 1.25rem;
}
.icon{

	height: 130px;
	width: 130px;
	background: #2e85aa;
	border-radius:  65px;
display: -webkit-box;
display: flex;
-webkit-box-pack: center;
        justify-content: center;
-ms-align-items: content;
-webkit-box-align: center;
        align-items: center;
color:#fff;
font-size: 25px;
margin-bottom: 1.5rem;
}

.item-bloc h1 {
 text-transform: uppercase;
 color:#fff;
 margin-bottom: 1rem;
 font-size: 18px;
 font-family: "Open Sans";
 line-height: 2;
}
.item-bloc p {
text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  font-family: "Open Sans"  ;
  color: #FFF;
  line-height: 1.6;
}

.news-wrap{
	display: -webkit-box;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-align: stretch;
	        align-items: stretch;
					padding: 0 20px;
					box-sizing: border-box;

}
 .block-news{
    height: 50vh;
	display: -webkit-box;;
	display: flex;
	min-width: 484px;
	flex-basis: 47%;
	-webkit-box-pack: center;
	        justify-content: center;
	overflow: hidden;
	box-sizing: border-box;
}
 .block-news img{
		overflow: inherit;
 }

.block-news:first-child {
	background: #222;
	color: #FFF;
	-ms-align-items: center;
	-webkit-box-align: center;
					align-items: center;
}
.block-news:last-child {
	-ms-align-items: center;
	-webkit-box-align: center;
					align-items: center;
}


.data p {
	content: '';
	height: 14px;
	width: 1px;
	background: #fff;
	display: inline-block;
	 margin:  0 10px;

}
.bloc-news__text{
	display: -webkit-box;
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	width: 25rem;
}
.data {

  font-size: 13px;
  font-family: "Open Sans";
  margin-bottom: 15px;
   font-weight: 400;
   font-style: italic;


}

.bloc-news__text h1{
  font-size: 25px;
  font-family: "Open Sans";
  text-transform: uppercase;
   font-weight: 400;
   font-style: italic;
}
.bloc-news__text p{
  font-size: 15px;
  font-family: "Open sans";
   font-weight: 400;
   font-style: italic;
}
.block-news:last-child  .data p{
	background: #000;

}


.blog-team-quick-wrap{
display: -webkit-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
        flex-direction: column;
justify-content: space-around;
-ms-align-items: center;
-webkit-box-align: center;
        align-items: center;

}

.blog-team-wrap {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
	 margin-top:130px;
}
.blog-team-wrap header h1 {

  font-size: 30px;
  font-family: "Roboto";
  color: rgba( 34, 34, 34, 0.18 );
  font-weight: bold;
  text-align: center;
  -moz-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  -webkit-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  -ms-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
}

.blog-team-wrap header h2 {
  font-size: 20px;
  font-family: "Gotham";
  color: rgb( 34, 34, 34 );
  text-transform: uppercase;
  text-align: center;
  -moz-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  -webkit-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  -ms-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
margin-top: -30px;

}

.blog-team-wrap  h3{
  font-size: 30.057px;
  font-family: "Gotham";
  color: rgb( 34, 34, 34 );
  line-height: 1.231;
  text-align: center;
  margin: 140px 0 70px;
}


.quick-wrap {
	display: -webkit-box;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 100px;
}




 .info-blog-team {
 display: -webkit-box;;
 display: flex;
 min-width: 245px;
 flex-basis: 15%;
 -webkit-box-pack: center;
				 justify-content: center;
 overflow: hidden;
 box-sizing: border-box;
 flex-direction: column;
	overflow: hidden;
	text-align: center;
	font-family: "Open Sans";
}
 .info-blog-team img{
	 overflow: inherit;
	 height: 290px;
}


.info-blog-team h3 {
	font-size: 16px;
	font-weight: 600;
	color: rgb( 17, 116, 158 );
	text-transform: uppercase;
	line-height: 2;
	margin: 20px 0;

}

.info-blog-team p {
  	font-size: 15px;
  	color: rgb( 34, 34, 34 );
  	line-height: 1.6;
		padding:0 10px;
}

.quick-action-wrap {

	width: 100%;
	height: 37.275vh;
	background-color: #11749e;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	        align-items: center;
}

.quick-action{

	display: -webkit-box;

	display: flex;
	flex-basis:45%;

}
.quick-action:first-child{
	margin-right: 60px;
}

.quick-action .fa-edit {

  	color: rgb( 255, 255, 255 );
	font-size: 70px;
	margin-right: 30px;

}


.quick-action p{
  font-size: 15px;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  line-height: 1.6;
}

.key-feature{
	background-image: url(..//image/bg_key_feature.jpg) ;
	background-size: cover;
	display: -webkit-box;
	display: flex;
	width: 100%;
	height: 100vh;
	-webkit-box-pack: space-evenly;
	        justify-content: space-evenly;
}
.key_feature__iphone{
margin: auto 0;
}

.key-feature__infobloc {
	display: -webkit-box;
	display: flex;
	flex-basis: 470px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	color:white;
}
.key-feature__infobloc h1 {
  font-size: 25px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.44;
	margin-bottom: 35px;
}

.key-feature__infobloc p{
  font-size: 15px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.6;
  text-align: left;
	margin-bottom: 70px;
}
.key-feature__infobloc__persent>p{
	font-size: 15px;
	height:40px;
  background-color: rgb(17, 116, 158);
	margin: 10px 0;
	line-height:40px;
	padding-left: 15px
}
.key-feature__infobloc__persent>p:nth-child(1){
	width: 85%;

}
.key-feature__infobloc__persent>p:nth-child(2){
	width: 95%;

}
.key-feature__infobloc__persent>p:nth-child(3){
	width: 100%;
}
.quick-wrap__team{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 70px;
	box-sizing:content-box;
}
.employee {
	min-width: 220px;
	margin: 0 10px;
}

.employee img{
	height:415px ;
	z-index: -1;
	position: relative;
}
.employee__info{
	width: 180px;
	margin: -40px auto 0 auto;
	background: white;
	z-index: 1;
}
.employee h3{
	margin: 10px 0 0 0;
}
.employee p {
	font-weight: bold;
}
.contack-area-wrap{
width: 100%;
height: 90vh;
background-image: url(..//image/bg_comtact.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ Ð¸ Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
display: -webkit-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
			flex-direction: column;
justify-content: space-around;
-ms-align-items: center;
-webkit-box-align: center;
				align-items: center;
}
.form-container {
	width: 70%;
display: flex;
}
form{
	display: flex;
	flex-direction: column;
	flex-grow: 1;

}
.multi-input {
	display: flex;
	margin-bottom: 30px;
	justify-content: space-between;

}
form>div>input, textarea {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(128, 128, 128 );
	background-color: rgba( 128, 128, 128, 0 );
	color: #fff;
}

textarea {
	height: 150px;
	resize:none;
	flex-grow: inherit;
	padding: 10px;
	margin-bottom: 30px
}

.multi-input>input{
width: 30%;
height: 45px;
box-sizing: border-box;
line-height: 45px;
padding-left: 10px;
}
input[type="submit"]{
		display: flex;
	  background-color: rgb( 17, 116, 158 );
		height: 60px;
		width: 230px;
		justify-content: center;
		margin: auto;
  font-size: 22px;
  font-family: "Gotham";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
}
#map{
	display: flex;
	width: 100%;
	height: 330px;
}
footer {
	display: flex;
	align-items: center;
	height: 10vh;
padding-left: 40px;
	background-color: #222222;
	color: #fff;
	font-size: 13px;
}
