.header-wrap { 
	height: 100vh;
	min-height: 600px;
	background-image: url(..//image/about_agency_bg.jpg) ;
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
justify-content: space-between;
-ms-align-items: center;
align-items: center;
} 
.header-wrap header{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 1px solid #7a7a7a;
overflow: hidden;
}
.logo	{
	width: 70px;
	height: 70px;
	background: #11749e;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
	-moz-box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
	box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
	font-size: 25px;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
  	font-size: 38.349px;
  	font-family: "Open Sans";
  	font-weight: bold;
  	text-transform: uppercase;
  

}
nav{

	width: 60%;
	height: 100%;
	display: flex;
}
nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

		}
nav ul li{

	height: 100%;
		
		}
.menu-link{
	color: #fff;
	text-decoration: none;
 	font-size: 20px;
 	font-family: "Open Sans";
 	height: 95%;
	display: flex;
	align-items: center;
	

}
.menu-link:hover { 
	border-bottom: 6px solid rgba(17, 116, 158, 0.6); 
		color:#fff;
		
}
.social-links{
	width: 10%;
	display: flex;
	justify-content: space-around;

}
.social-links a i {
	color: #fff;
  	font-size: 20px;
  	text-transform: uppercase;
}

.header-main-text h1{

  font-size: 74px;
  font-family: "Open Sans";
  color: rgb( 245, 245, 245 );
  font-weight: bold;
  text-transform: uppercase;


}
.header-main-text h2{
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans";
  color: rgb( 17, 116, 158 );
  text-transform: uppercase;
  line-height: 2.065;
  text-align: justify;						 	
  text-align-last: justify;
  letter-spacing: 7px;
 }
 .scrol {
 	display: flex;
 	-webkit-flex-direction: column;
 	-moz-flex-direction: column;
 	-ms-flex-direction: column;
 	-o-flex-direction: column;
 	flex-direction: column;
 	justify-content: center;
 	-ms-align-items: center;
 	align-items: center;
 }
.scrol p { 
  font-size: 13px;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  line-height: 1.692;
  text-align: center;
  }
.arrow-down{
	width: 60px;
	height: 60px;
	border: 1px solid white;
	text-align: center;
	border-radius: 50%;	
	color: #fff;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}
.arrow-down a{
	text-decoration: none;
	color: #fff;
}
.fas {
	font-size: 30px;
}

.about_agency-wrap{
	width: 100%;
	height: 90vh;
	background: #11749e;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}

.heading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

}
.heading h1 {
  font-size: 30px;
  font-family: "Open Sans";
  color: rgba( 255, 255, 255, 0.18 );
  font-weight: bold;
  -moz-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  -webkit-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  -ms-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  margin-top: 3rem;
}
.heading h2{
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  -webkit-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  -ms-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
margin-top: -30px;
}

.company-feature{
	display: flex;
	justify-content: space-around;
}
.item-bloc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 13.649%;
	margin: 0 1.25rem;
}
.icon{

	height: 130px;
	width: 130px;
	background: #2e85aa;
	border-radius:  65px;
display: flex;
justify-content: center;
-ms-align-items: content;
align-items: center;
color:#fff;
font-size: 25px;
margin-bottom: 1.5rem;
}

.item-bloc h1 {
 text-transform: uppercase;
 color:#fff;
 margin-bottom: 1rem;
 font-size: 18px;
 font-family: "Open Sans";
 line-height: 2;
}
.item-bloc p {
text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  font-family: "Open Sans"  ;
  color: #FFF;
  line-height: 1.6;
}

.news-wrap{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	align-items: stretch;
	
}
.block-news{
    height: 50vh;
    width: 42%;;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
/*	overflow: hidden;*/

	
}
.block-news:nth-child(2) {
	background-image: url(..//image/agency_news_1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
.block-news:nth-child(3) {
	background-image: url(..//image/agency_news_2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
.block-news:first-child {
	background: #222;
	color: #FFF;
}


.data p {
	content: '';
	height: 14px;
	width: 1px;
	background: #fff;
	display: inline-block;
	 margin:  0 10px;

}
.bloc-news__text{
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 25rem;
}
.data {

  font-size: 13px;
  font-family: "Open Sans";
  margin-bottom: 15px;
   font-weight: 400;
   font-style: italic;


}

.bloc-news__text h1{
  font-size: 25px;
  font-family: "Open Sans";
  text-transform: uppercase;
   font-weight: 400;
   font-style: italic;
}
.bloc-news__text p{
  font-size: 15px;
  font-family: "Open sans";
   font-weight: 400;
   font-style: italic;
}
.block-news:last-child  .data p{
	background: #000;
}


.blog-quick-wrap {
display: flex;
flex-direction: column;
justify-content: space-around;
-ms-align-items: center;
align-items: center;

}

.blog-wrap  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	 margin-top:130px;
}
.blog-wrap header h1 {

  font-size: 30px;
  font-family: "Roboto";
  color: rgba( 34, 34, 34, 0.18 );
  font-weight: bold;
  text-align: center;
  -moz-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  -webkit-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  -ms-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
}

.blog-wrap header h2 {
  font-size: 20px;
  font-family: "Gotham";
  color: rgb( 34, 34, 34 );
  text-transform: uppercase;
  text-align: center;
  -moz-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  -webkit-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  -ms-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
margin-top: -30px;
 
}

.blog-wrap  h3{
  font-size: 30.057px;
  font-family: "Gotham";
  color: rgb( 34, 34, 34 );
  line-height: 1.231;
  text-align: center;
  margin: 140px 0 70px;
}




.quick-wrap {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 100px;	
}

.info-blog {
	width: 15%;
	overflow: hidden;
	text-align: center;
	font-family: "Open Sans";
}
.info-blog h3 {
	font-size: 16px;
	font-weight: 600;
	color: rgb( 17, 116, 158 );
	text-transform: uppercase;
	line-height: 2;
	margin: 20px 0;

}

.info-blog p {
  	font-size: 15px;
  	color: rgb( 34, 34, 34 );
  	line-height: 1.6;
}
.quick-action-wrap {

	width: 100%;
	height: 37.275vh;
	background-color: #11749e;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.quick-action{

	display: flex;
	flex-basis:29.397%;

}
.quick-action:first-child{
	margin-right: 60px;
}

.quick-action .fa-edit {

  	color: rgb( 255, 255, 255 );
	font-size: 70px;
	margin-right: 30px;

}


.quick-action p{
  font-size: 15px;
  font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  line-height: 1.6;
 
}




 <script>

  let uluru = {lat: -25.344, lng: 131.036};
  let map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  let marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYeAykN1o-f8rJCaHtVjUHRQfr79eCyok&callback=initMap">
    </script>